
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f4f8; 
  margin: 30;
  padding: 10;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px; 
  background-color: #ffffff;
  border-radius: 15px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
}


header {
  text-align: center; 
  margin-bottom: 30px; 
}

h1 {
  font-size: 2.5em; 
  font-weight: 600; 
  color: #2E8B57; 
}
.todo-item input.done {
  text-decoration: line-through;
  color: gray;
}
.todo-container {
  margin-bottom: 25px; 
  border-radius: 10px;
  padding: 15px; 
  background-color: #ffffff; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05); 
  display: flex;
  flex-direction: column;
  align-items: center; 
}

input[type="text"] {
  width: calc(100% - 50px);
  padding: 12px; 
  border: 2px solid #4caf50; 
  border-radius: 5px;
  margin-bottom: 15px; 
  font-size: 16px;
}

button {
  padding: 12px 24px; 
  background-color: #4caf50; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  display: block; 
  margin-top: 10px; 
  margin-bottom: 10px;
}

button:hover {
  background-color: #45a049; 
  transform: scale(1.05); 
}


ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px; 
  border-bottom: 2px solid #e0e0e0; 
  background-color: #ffffff; 
}

li:nth-child(even) {
  background-color: #f9f9f9; 
}

li.done {
  text-decoration: line-through;
  color: #999; 
}


.fa-trash, .fa-edit {
  color: #4caf50; 
  cursor: pointer;
  margin-left: 15px;
  transition: color 0.3s, transform 0.2s;
}

.fa-trash:hover, .fa-edit:hover {
  color: #e74c3c; 
  transform: scale(1.1); 
}


.progress-container {
  margin: 25px 0; 
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.progress-bar {
  width: 100%;
  background-color: #e0e0e0; 
  border-radius: 20px;
  overflow: hidden;
  height: 12px; 
  margin-top: 10px;
}

.progress-fill {
  height: 100%;
  width: 0;
  background-color: #4caf50; 
  transition: width 0.4s ease;
}

.moving-image {
  width: 200px; 
  overflow: hidden; 
}

.moving-image img {
  width: 100%; 
  animation: moveRight 5s linear infinite; 
}

@keyframes moveRight {
  0% {
    transform: translateX(0); 
  }
  100% {
    transform: translateX(100%); 
  }
}
.progress-status {
  text-align: center; 
  font-size: 15px; 
  color: #333; 
  margin-top: 5px;
  width: 100%; 
}


#weekly-goals-container, #monthly-goals-container {
  margin-top: 40px; 
  text-align: center; 
}

.goal-item {
  background-color: #ffffff; 
  padding: 20px; 
  border-radius: 10px; 
  margin-bottom: 15px; 
  border: 2px solid #4caf50;
  position: relative;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
}

.goal-item p {
  text-align: center; 
  margin: 0; 
}
